{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="uk-container">
  <div class="uk-article">
    <!-- <div class="col-7 col-md-6 my-auto"> -->
      <h1 class="uk-article-title">
        Discover the latest illustrations<br>
        or shop for artwork
      </h1>
      <div>
        <h4>
          <a href="{% url 'products' %}" class="uk-button uk-button-primary uk-border-pill">
            Discover
          </a>
        </h4>
      </div>
    </div>
  </div>
</div>
{% endblock %}