{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="uk-container uk-container-medium">
  <!-- Catalog link -->
  <div class="uk-article uk-text-center">
    <h1 class="uk-article-title">
      Discover the latest illustrations<br>
      shop for artwork or a custom 3D rendering
    </h1>
    <div>
      <h4>
        <a href="{% url 'products' %}" class="uk-button uk-button-primary uk-border-pill">
          Discover
        </a>
      </h4>
    </div>
  </div>
  <!-- Teaser -->
  <div class="uk-margin">
    <div class="uk-child-width-1-2@s uk-child-width-1-5@m uk-grid-small" uk-grid="masonry: true">
      <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle">
          <img data-src="{{ MEDIA_URL }}bg1.jpg" width="" height="" alt="" uk-img>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle">
          <img data-src="{{ MEDIA_URL }}bg2.jpg" width="" height="" alt="" uk-img>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle">
          <img data-src="{{ MEDIA_URL }}bg3.jpg" width="" height="" alt="" uk-img>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle">
          <img data-src="{{ MEDIA_URL }}bg4.jpg" width="" height="" alt="" uk-img>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle">
          <img data-src="{{ MEDIA_URL }}bg5.jpg" width="" height="" alt="" uk-img>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle">
          <img data-src="{{ MEDIA_URL }}bg6.jpg" width="" height="" alt="" uk-img>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle">
          <img data-src="{{ MEDIA_URL }}bg7.jpg" width="" height="" alt="" uk-img>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle">
          <img data-src="{{ MEDIA_URL }}bg8.jpg" width="" height="" alt="" uk-img>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle">
          <img data-src="{{ MEDIA_URL }}bg9.jpg" width="" height="" alt="" uk-img>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle">
          <img data-src="{{ MEDIA_URL }}bg10.jpg" width="" height="" alt="" uk-img>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
