/* 
----------------------------------------------------------------------- 
NAVBAR */


/* Sign in button */
.custom-sign-up {
  color: #fff !important;
  min-height: 36px !important;
  line-height: 36px;
  width: 100px;
}

/* Search icon */
.custom-search-icon {
  background-color: #1e87f0;
  color: #fff !important;
}

/* Banner bg */
.custom-banner-bg {
  background-color: #ebebeb;
}


/* 
----------------------------------------------------------------------- 
PRODUCT CATEGORY VIEW */


.custom-product-flex {
  justify-content: center;
}


/* 
----------------------------------------------------------------------- 
BAG VIEW */


.custom-checkout-link {
  line-height: 2.5;
  margin-right: 3px;
}

.custom-checkout > svg {
  margin-left: 8px;
  margin-bottom: 8px;
  margin-right: -5px;
}


/* 
-----------------------------------------------------------------------
NAVBAR MEDIA QUERIES at 800px */

@media only screen and (max-width: 380px) {
  .mobile-logo {
    display: none;
  }
}

@media only screen and (min-width: 801px) {

  /* Mobile menu */
  .mobile-navbar {
    display: none;
  }
}

@media only screen and (max-width: 800px) {

  /* Desktop navbar */
  .desktop-navbar {
    display: none;
  }


  /* Search - padding */
  .custom-search-padding {
    padding-right: 16px;
    padding-left: 16px;
  }


  /* Cart margin */
  .custom-mobile-cart-btn {
    margin-right: 0px !important;
  }
}

