/* 
----------------------------------------------------------------------- 
GENERAL */

input.textinput.textInput {
  outline: 0;
}


/* 
----------------------------------------------------------------------- 
NAVBAR */


/* Sign in button */
.custom-sign-up {
  color: #fff !important;
  min-height: 36px !important;
  line-height: 36px;
  width: 100px;
}

/* Search icon */
.custom-search-icon {
  background-color: #1e87f0;
  color: #fff !important;
}

/* Banner bg */
.custom-banner-bg {
  background-color: #ebebeb;
}

/* Banner bg */
.custom-sticky-banner {
  z-index: 10 !important;
}


/* 
----------------------------------------------------------------------- 
PRODUCT CATEGORY VIEW */


.custom-product-flex {
  justify-content: center;
}


/* 
----------------------------------------------------------------------- 
PRODUCT DETAIL VIEW */


.custom-image-height {
  height: fit-content;
}


/* 
----------------------------------------------------------------------- 
BAG VIEW */


.custom-checkout-link {
  line-height: 2.5;
  margin-right: 3px;
}

.custom-checkout > svg {
  margin-left: 8px;
  margin-bottom: 8px;
  margin-right: -5px;
}


/* 
----------------------------------------------------------------------- 
LOG IN AND SIGN UP */


.allauth-inner-content input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid #e5e5e5;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 4px;
}

.allauth-inner-content input:focus,
.allauth-inner-content input:active {
  border: 1px solid #000 !important;
  outline: 0;
}

.allauth-inner-content input::placeholder {
  color: #999;
}

.allauth-inner-content label:not([for='id_remember']) {
  display: none;
}

input[type="checkbox" i] {
  height: 16px;
  width: 16px;
  vertical-align: -3px;
}

label.checkbox {
  font-size: 14px;
}

label.control-label {
  font-size: 14px;
  color: #999;
}


/* 
----------------------------------------------------------------------- 
PRODUCT FORMS */


.form-inner-content {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid #e5e5e5;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 4px;
}

.form-inner-content:focus,
.form-inner-content:active {
  border: 1px solid #000 !important;
  outline: 0;
}

.form-inner-content input::placeholder {
  color: #999;
}

.form-inner-content label:not([for='id_remember']) {
  display: none;
}


/* Classes defined in custom_clearable_file_input.html */

/* Prevents 'Current Image' title to be clickable */
.btn-file {
  position: relative;
  overflow: hidden;
}

/* Replace default 'Choose file' with one 'Select' button */
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-control.custom-checkbox {
  margin-top: 12px;
}

/* 3) */
.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

/* 3) */
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}



/* 
-----------------------------------------------------------------------
NAVBAR MEDIA QUERIES at 800px */

@media only screen and (max-width: 380px) {
  .mobile-logo {
    display: none;
  }
}

@media only screen and (min-width: 801px) {

  /* Mobile menu */
  .mobile-navbar {
    display: none;
  }
}

@media only screen and (max-width: 800px) {

  /* Desktop navbar */
  .desktop-navbar {
    display: none;
  }


  /* Search - padding */
  .custom-search-padding {
    padding-right: 16px;
    padding-left: 16px;
  }


  /* Cart margin */
  .custom-mobile-cart-btn {
    margin-right: 0px !important;
  }
}

