<!-- Navbar left -->
<div class="uk-navbar-left desktop-navbar">
  <!-- Logo -->
  <a class="uk-navbar-item uk-logo custom-logo" href="{% url 'home' %}">
    <strong>canvas</strong> heaven
  </a>
  <!-- Navigation menu -->
  <div class="uk-navbar-nav nav-menu">
    <li>
      <a href="{% url 'products' %}" class="uk-text-capitalize uk-text-bold uk-text-secondary">Collection</a>
    </li>
    <li>
      <a href="{% url 'add_custom_product' %}" class="uk-text-capitalize uk-text-bold uk-text-secondary">Request Custom Artwork</a>
    </li>
  </div>
</div>