{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

<!--
  Changing: block content To: block inner_content
  to pass, reflect THIS content into account/base.html block inner_content
-->
{% block inner_content %}

  <!-- Page title -->
  <h1 class="uk-heading-line uk-text-center uk-margin-medium-bottom">
    <span>{% trans "Sign In" %}</span>
  </h1>

  <!-- UIkit card -->
  <div class="uk-card uk-card-default uk-card-body uk-width-xlarge uk-align-center">

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
      <p>{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
      for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
      <div class="socialaccount_ballot">
        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
        <div class="login-or">{% trans 'or' %}</div>
      </div>
      {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
      <p>{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}

    <form class="login" method="POST" action="{% url 'account_login' %}" class="">
      {% csrf_token %}

      <!-- Using Crispy form -->
      {{ form | crispy }}

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <!-- Buttons -->
      <div class="uk-text-right uk-margin-top">
        <a class="uk-button uk-button-default uk-border-pill uk-text-middle uk-margin-small-right" href="{% url 'home' %}">Home</a>
        <button class="uk-button uk-button-primary uk-border-pill uk-text-upppercase" type="submit">{% trans "Sign In" %}</button>
        <p class="mt-2">
          <a class="uk-text-primary uk-text-small" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </p>
      <div>
    </form>
  <!-- UIkit card End -->
  </div>

{% endblock %}
