<!-- Using load tag to enable the use of static tags -->
{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  <!-- custom meta -->
  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
    <!-- Bootstrap CSS 4.4.1 -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <!-- Google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <!-- Css folder -->
    <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}"> -->
    <!-- UIkit -->
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" />
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
  {% endblock %}

  <!-- custom css -->
  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/e9c73d7092.js" 
            crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" 
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" 
            crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <!-- Bootstrap JS 4.4.1 -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script> -->
    <!-- UIkit, including icons -->
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
  {% endblock %}

  <!-- custom js -->
  {% block extra_js %}
  {% endblock %}

  <!-- Browser tab title -->
  <title>Template {% block extra_title %}{% endblock %}</title>
</head>

<body>

  <header>

    <!-- Navigation -->
    <nav uk-sticky class="uk-navbar-container" uk-navbar>

      <!-- See external file for desktop and mobile menu -->
      {% include 'includes/mobile-top-header.html' %}
      {% include 'includes/main-nav.html' %}

      <!-- Navbar right -->
      <div class="uk-navbar-right">
        <div class="uk-navbar-nav">

          <!-- User menu based on authentication -->
          {% if request.user.is_authenticated %}
            <!-- Show toggle button for authenticated users -->
            <li>
              <a href="#offcanvas-flip" 
                 class="uk-text-capitalize uk-text-bold" uk-toggle>
                 My Account
              </a>
            </li>
            <!-- Show off-canvas -->
            <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
              <div class="uk-offcanvas-bar">
                <!-- User menu close button -->
                <button class="uk-offcanvas-close" 
                        type="button" 
                        uk-close></button>
                <!-- Show additional superuser menu -->
                {% if request.user.is_superuser %}
                  <!-- Super user menu HERE -->
                {% endif %}
                <!-- Off-canvas menu -->
                <ul class="uk-nav uk-nav-default">
                  <li class="uk-active"><a href="#">Active</a></li>
                  <!-- Show 'allauth' log out -->
                  <li class="uk-parent">
                    <a href="{% url 'account_logout' %}">Log Out</a>
                  </li>
                </ul>
              </div>
            </div>

            {% else %}
            <!-- Non authenticated users -->
            <!-- Log in button -->
            <li>
              <a href="{% url 'account_login' %}" 
                 class="uk-text-capitalize uk-text-bold uk-margin-right">
                 Log In
              </a>
            </li>
            <!-- Sign up button -->
            <li class="uk-margin uk-margin-right desktop-navbar">
              <a href="{% url 'account_signup' %}" 
                 class="uk-button uk-button-primary 
                        uk-text-capitalize uk-border-pill custom-sign-up">
                 Sign Up
              </a>
            </li>
          {% endif %}

          <!-- Shopping cart button -->
          <li class="uk-margin-right custom-mobile-cart-btn">
            <a href="{% url 'view_bag' %}">
              <div class="uk-text-center 
                   {% if grand_total %}
                     uk-text-emphasis
                   {% endif %}">
                <span uk-icon="icon: bag"></span>
                <div class="uk-navbar-subtitle">
                  {% if grand_total %}
                    ${{ grand_total|floatformat:2 }}
                  {% else %}
                    $0.00
                  {% endif %}
                </div>
              </div>
            </a>
          </li>

        </div>
      </div>

    </nav>

    <!-- Banner -->
    <div uk-sticky="offset: 80">
      <div class="uk-text-center uk-background-default uk-light uk-panel uk-text-emphasis">
        <p>Free delivery on orders over ${{ free_delivery_threshold }} for all physical goods!</p>
      </div>
    </div>


    <!-- Search field -->
    <div class="uk-margin uk-padding-small">
      <form method="GET" action="{% url 'products' %}" 
            class="uk-search uk-search-default uk-align-center uk-width-large">
        <a href="" class="uk-search-icon-flip uk-border-circle custom-search-icon" 
           type="submit" uk-search-icon></a>
        <input class="uk-search-input uk-border-pill" 
               type="text" 
               name="q" 
               placeholder="Search">
      </form>
    </div>

  </header>



  <!-- Notifications -->
  {% if messages %}
    {% for message in messages %}
      <!-- Include notification template in templates/includes/notifications/ -->
        {% with message.level as level %}
          {% if level == 40 %}
            {% include 'includes/notifications/message_error.html' %}
          {% elif level == 30 %}
            {% include 'includes/notifications/message_warning.html' %}
          {% elif level == 25 %}
            {% include 'includes/notifications/message_success.html' %}
          {% else %}
            {% include 'includes/notifications/message_info.html' %}
          {% endif %}
      {% endwith %}
    {% endfor %}
  {% endif %}

  <!-- custom header -->
  {% block page_header %}
  {% endblock %}

  <!-- custom content -->
  {% block content %}
  {% endblock %}

  <!-- custom js -->
  {% block postloadjs %}
  {% endblock %}
  

</body>

</html>