{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="uk-container uk-container-medium">
  <!-- Page title -->
  <h1 class="uk-heading-line uk-text-center uk-margin-medium-bottom">
    <span>Product Management</span>
  </h1>

  <div class="uk-flex uk-flex-center uk-child-width-expand@s" uk-grid>

    <!-- Cart info -->
    <div class="uk-width-1-2@m">
      <div class="uk-card uk-card-default uk-card-body">
        <p>Edit a Product</p>
        <form method="POST" action="{% url 'edit_product' product.id %}" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- 
            Render fields in form 'as_crispy_field', 
            using custom classes declared in widgets
          -->
          {% for field in form %}
            {% if field.name != 'image' %}
              {{ field | as_crispy_field }}
            {% else %}
              {{ field }}
            {% endif %}
          {% endfor %}
          <hr class="uk-margin">
          <div class="uk-text-right uk-margin-top">
            <a class="uk-button uk-button-default uk-border-pill" href="{% url 'products' %}">Cancel</a>
            <button class="uk-button uk-button-primary uk-border-pill" type="submit">Update Product</button>
          </div>
        </form>
      </div>
    </div>

  </div>

{% endblock %}

<!-- Notifying the user of what the image will be changed to -->
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        // Listen to change event on #new-image
        $('#new-image').change(function() {
            // Store new file in variable file
            var file = $('#new-image')[0].files[0];
            // Set file name paragraph in widget template to file name
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}