<!-- Render page content block -->
{% block content %}

  <!-- Jinja for loop to iterate through the 'product' variable -->
  {% for product in products %}

     <!-- Generating a card for each product that is wrapped with its own category as
     UIkit filterable meta data to use with the above uk-filter-control -->
     <li data-color="white" data-size="large" data-name="A">
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <img src="" alt="">
        </div>
        <div class="uk-card-body uk-position-center">A</div>
      </div>
     </li>


<!-- END of Render page content block -->
{% endblock %}

