<!-- Extends base.html -->
{% extends "base.html" %}
<!-- Load static files -->
{% load static %}


<!-- Render page content block -->
{% block content %}

<!-- Test products data read -->
<!-- {{ products }} -->
<!-- Test END -->

<!-- content wrapper -->
<div class="uk-container uk-container-medium">

  <!-- uikit - INITIATE FILTER OPTIONS and product sorting -->
  <div uk-filter="target: .js-filter">

    <!-- uikit - FILTER CONTROL WRAPPER -->
    <div class="uk-grid-small uk-flex-middle" uk-grid>
      <!-- PRODUCT FILTER OPTIONS -->
      <div class="uk-width-expand">
        <div class="uk-grid-small uk-grid-divider uk-child-width-auto" uk-grid>
          <!-- Default uk-filter-control to load all available products -->
          <div>
            <ul class="uk-subnav uk-subnav-pill" uk-margin>
              <li class="uk-active" uk-filter-control>
                <a href="#" class="uk-text-capitalize uk-border-pill">All</a>
              </li>
            </ul>
          </div>
          <!-- Sorting products by category from models -->
          <div>
            <ul class="uk-subnav uk-subnav-pill uk-text-capitalize" uk-margin>
              {% for category in categories %}
                <li uk-filter-control="[data-category='{{ category.friendly_name }}']">
                  <a href="#" class="uk-text-capitalize uk-border-pill">{{ category.friendly_name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <!-- Reset search term button -->
          {% if search_term %}
            <div>
              <ul class="uk-subnav uk-subnav-pill" uk-margin>
                <li>
                  <span class="uk-text-small uk-text-lowercase">
                    Found {{ products|length }} item(s) for <strong>"{{ search_term }}"</strong></span>
                </li>
                <li>
                  <a href="{% url 'products' %}" 
                     class="uk-button uk-button-default uk-border-pill uk-text-small uk-text-capitalize">
                     Reset search</a>
                </li>
              </ul>
            </div>
          {% endif %}
        </div>
      </div>

      <!-- PRODUCT SORTING OPTIONS -->
      <!-- Alphabetical sorting (ascending or descending) of filtered items -->
      <div class="uk-width-auto uk-text-nowrap">
        <span class="uk-active" uk-filter-control="sort: data-name"><a class="uk-icon-link" href="#"
            uk-icon="icon: arrow-down"></a></span>
        <span uk-filter-control="sort: data-name; order: desc"><a class="uk-icon-link" href="#"
            uk-icon="icon: arrow-up"></a></span>
      </div>
    <!-- END of filter control wrapper -->
    </div>

    <!-- MASONRY LAYOUT - uikit masonry layout -->
    <ul class="js-filter uk-child-width-1-2 uk-child-width-1-3@m uk-text-center" uk-grid="masonry: true">

      <!-- PRODUCT CARD -->
      {% for product in products %}

        <!-- Each product is wrapped with its own category as uikit
        filterable meta data to use with the above uk-filter-control -->
        <li data-category="{{ product.category.friendly_name }}" data-name="{{ product.name }}">
          <div class="uk-card uk-card-default">

            <!-- PRODUCT IMAGE -->
            <div class="uk-card-media-top">
              {% if product.image %}
                <!-- Link to product detail page -->
                <a href="{% url 'product_detail' product.id %}">
                  <img class="" 
                       src="{{ product.image.url }}" 
                       width="600" 
                       alt="{{ product.name }}">
                </a>
              {% else %}
                <a href="{% url 'product_detail' product.id %}">
                  <img class="" 
                       src="{% static 'images/noimage.png' %}" 
                       width="600" 
                       alt="{{ product.name }}">
                </a>
              {% endif %}
            </div>

            <!-- PRODUCT INFO -->
            <div class="uk-card-body uk-padding-small">
              <!-- Name, category and price -->
              <div class="uk-text-left uk-text-small">
                {{ product.name }}
              </div>
              <div class="uk-text-left uk-text-small uk-text-muted">
                {{ product.category.friendly_name }}
              </div>
              <div class="uk-text-left uk-text-small uk-text-bold uk-margin-small-top">
                ${{ product.price }}
              </div>
              <!-- Social rating or testimonials -->
              <div class="uk-grid-small uk-text-small uk-margin-top" uk-grid>
                {% if product.views %}
                  <span class="uk-text-left uk-width-expand">
                    Views {{ product.views }}
                  </span>
                  <span>Likes {{ product.likes }}</span>
                  <span class="uk-text-right">Comments {{ product.comment }}</span>
                {% else %}
                  <span class="uk-text-left uk-width-expand">
                    <a href="">Visit Artwork</a>
                  </span>
                {% endif %}
              </div>
            </div>
          <!-- END of card -->
          </div>
        </li>
      {% endfor %}

      <!-- Empty cards for tests. Delete this later -->
      <li data-color="white" data-size="large" data-name="A">
        <div class="uk-card uk-card-default uk-card-body">
          <canvas width="600" height="800"></canvas>
          <div class="uk-position-center">A</div>
        </div>
      </li>
      <li data-color="blue" data-size="small" data-name="B">
        <div class="uk-card uk-card-primary uk-card-body">
          <canvas width="600" height="400"></canvas>
          <div class="uk-position-center">B</div>
        </div>
      </li>
      <li data-color="white" data-size="medium" data-name="C">
        <div class="uk-card uk-card-default uk-card-body">
          <canvas width="600" height="600"></canvas>
          <div class="uk-position-center">C</div>
        </div>
      </li>
      <li data-color="white" data-size="small" data-name="D">
        <div class="uk-card uk-card-default uk-card-body">
          <canvas width="600" height="400"></canvas>
          <div class="uk-position-center">D</div>
        </div>
      </li>
      <li data-color="black" data-size="medium" data-name="E">
        <div class="uk-card uk-card-secondary uk-card-body">
          <canvas width="600" height="600"></canvas>
          <div class="uk-position-center">E</div>
        </div>
      </li>
      <li data-color="black" data-size="small" data-name="F">
        <div class="uk-card uk-card-secondary uk-card-body">
          <canvas width="600" height="400"></canvas>
          <div class="uk-position-center">F</div>
        </div>
      </li>
      <li data-color="blue" data-size="medium" data-name="G">
        <div class="uk-card uk-card-primary uk-card-body">
          <canvas width="600" height="600"></canvas>
          <div class="uk-position-center">G</div>
        </div>
      </li>
      <li data-color="black" data-size="large" data-name="H">
        <div class="uk-card uk-card-secondary uk-card-body">
          <canvas width="600" height="800"></canvas>
          <div class="uk-position-center">H</div>
        </div>
      </li>
      <li data-color="blue" data-size="large" data-name="I">
        <div class="uk-card uk-card-primary uk-card-body">
          <canvas width="600" height="800"></canvas>
          <div class="uk-position-center">I</div>
        </div>
      </li>
      <li data-color="white" data-size="large" data-name="J">
        <div class="uk-card uk-card-default uk-card-body">
          <canvas width="600" height="800"></canvas>
          <div class="uk-position-center">J</div>
        </div>
      </li>
      <li data-color="blue" data-size="medium" data-name="K">
        <div class="uk-card uk-card-primary uk-card-body">
          <canvas width="600" height="600"></canvas>
          <div class="uk-position-center">K</div>
        </div>
      </li>
      <li data-color="black" data-size="small" data-name="L">
        <div class="uk-card uk-card-secondary uk-card-body">
          <canvas width="600" height="400"></canvas>
          <div class="uk-position-center">L</div>
        </div>
      </li>

    <!-- END of masonry layout -->
    </ul>
  <!-- END of uikit filter section -->
  </div>
<!-- END of content wrapper -->
</div>

{% endblock %}