{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- content wrappers -->
<div class="uk-container uk-container-medium">
  <div class="uk-width-expand">
    <div class="uk-grid-small custom-product-flex" uk-grid>

      <!-- PRODUCT IMAGE -->
      <div class="uk-card uk-card-default uk-padding-remove-left">
        <div class="uk-card-media">
          {% if product.image %}
            <!-- uikit LIGHTBOX -->
            <div uk-lightbox="animate: fade">
              <a href="{{ product.image.url }}">
                <img src="{{ product.image.url }}" 
                     width="500" 
                     alt="{{ product.name }}">
              </a>
            </div>
          {% else %}
            <img src="{% static 'images/noimage.png' %}" 
                 width="500" 
                 alt="{{ product.name }}">
          {% endif %}
        </div>
      </div>

      <!-- PRODUCT INFO -->
      <div class="uk-card-body uk-margin-left uk-width-large">
        <div class="uk-text-left uk-text-large uk-text-bold uk-width-large">
          {{ product.name }}
        </div>
        <div class="uk-text-left uk-text-bold uk-margin-small-top">
          ${{ product.price }}
        </div>
        <div class="uk-text-left uk-text-small uk-text-secondary uk-margin-small-top">
          Category: {{ product.category.friendly_name }}
        </div>
        <!-- Rating or testimonials -->
        <div class="uk-grid-small uk-text-small" uk-grid>
          {% if product.rating %}
            <span class="uk-text-left uk-width-expand">
              <span class="uk-text-middle" uk-icon="icon: star; ratio: 0.8"></span>
              <span class="uk-text-middle"> {{ product.rating }} / 5</span>
            </span>
          {% endif %}
        </div>
        <!-- Product edit -->
        {% if request.user.is_superuser %}
          <div class="uk-text-small uk-text-left uk-margin-small-top">
            <a href="{% url 'edit_product' product.id %}">Edit</a> | 
            <a class="uk-text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
          </div>
        {% endif %}
        <div class="uk-text-left uk-text-small uk-width-large uk-margin-small-top">
          {{ product.description }}
        </div>

        <!-- ADD TO CART form and button -->
        <div>
          <p class="uk-margin-medium-top" uk-margin>
            <form action="{% url 'add_to_bag' product.id %}" method="POST">
              <!-- Secure Django token -->
              {% csrf_token %}
              <!-- Size, format info -->
              {% with product.has_sizes as s %}
                {% if s %}
                  <div class="uk-margin">
                    <select class="uk-select uk-form-small uk-form-width-medium"
                            name="product_size"
                            id="id_product_size">
                      <option value="A4 Print">Print Format A4</option>
                      <option value="A3 Print" selected>Print Format A3</option>
                      <option value="A2 Print">Print Format A2</option>
                    </select>
                  </div>
                {% endif %}
              {% endwith %}
              <!-- Quantity field -->
              <div class="uk-margin">
                <div class="input-group uk-inline">
                  <!-- Minus button, requires js -->
                  <div class="intput-group">
                    <button class="decrement-qty uk-form-icon" 
                            data-item_id="{{ product.id }}" 
                            id="decrement-qty_{{ product.id }}"
                            uk-icon="icon: minus">
                    </button>
                  </div>
                  <!-- Plus button, requires js -->
                  <div class="intput-group">
                    <button class="increment-qty uk-form-icon uk-form-icon-flip" 
                            data-item_id="{{ product.id }}" 
                            id="increment-qty_{{ product.id }}"
                            uk-icon="icon: plus">
                    </button>
                  </div>
                  <!-- Input field -->
                  <input class="qty_input uk-input uk-form-small uk-form-width-small uk-text-center"
                         type="number"
                         name="quantity"
                         value="1"
                         min="1"
                         max="99"
                         data-item_id="{{ product.id }}"
                         id="id_qty_{{ product.id }}">
                </div>
              </div>
              <div>
                <!-- Submit button -->
                <button class="uk-button uk-button-secondary uk-border-pill"
                        type="submit">
                        Add to Bag
                </button>
                <!-- Link to contact page -->
                <button class="uk-button uk-button-text uk-text-capitalize uk-margin-left">
                  Request custom artwork
                </button>
                <!-- Redirection link to this page -->
                <input type="hidden"
                       name="redirect_url"
                       value="{{ request.path }}">
              </div>
            </form>
          </p>
        </div>

      <!-- END of product info -->
      </div>
    <!-- END of content wrappers -->
    </div>
  </div>
</div>

{% endblock %}

<!-- Including js file for quantity field with plus and minus dialer -->
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}